<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHIP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container mt-3">
        <h2 style="color: brown;">BOOKSHIP'e Hoşgeldiniz</h2>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="E-Posta adresinizi giriniz." name="email">
            </div>
            <div class="mb-3">
                <label for="pwd">Şifre:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifrenizi giriniz." name="pswd">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Beni hatırla
                </label>
            </div>
            <button type="button" class="btn btn-outline-secondary">Giriş Yap</button>
        </form>
    </div>
</body>
</html>
